* {
  margin: 0px;
  padding: 0px;
}
.container-slide {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  height: 40vh;
  background-color: black;
  margin: 20vh auto;
  border-radius: 10px;
  box-shadow: 0 20px 20px black;
}
.itens {
  position: absolute;
  display: flex;
  width: 30vw;
  height: 40vh;
  border-radius: 10px;
  overflow: hidden;
  
  
}
.item {
  width: 30vw;
  height: 40vh;
  transition: all 1s;
}
.item:first-child{
    margin-left: -100%;
}
.item img {
  width: 30vw;
  height: 40vh;
  border-radius: 10px;
}
.button {
  font: bold 30px sans-serif;
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: #00000000;
  z-index: 1;
  cursor: pointer;
}
.button:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    transition: all 0.6s;

}
